absl-py==2.2.2
appdirs==1.4.4
astunparse==1.6.3
flatbuffers==25.2.10
gast==0.6.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.177.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
google-pasta==0.2.0
googleapis-common-protos==1.70.0
grpcio==1.73.1
grpcio-status==1.71.2
gTTS==2.5.4
httplib2==0.22.0
jsonpointer==2.1
keras==3.9.2
libclang==18.1.1
lxml==5.2.1
ml_dtypes==0.5.1
namex==0.0.9
opt_einsum==3.4.0
optree==0.15.0
proto-plus==1.26.1
protobuf==5.29.5
pyasn1-modules==0.2.8
protobuf==5.29.5
rsa==4.9.1
setuptools==75.1.0
SpeechRecognition==3.14.3
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.0.1
uritemplate==4.2.0
wheel==0.44.0
xlrd==2.0.1
